body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  height: 100px;
  margin: 10px;
}

.avatar-large {
  height: 125px;
  margin: 15px 20px 15px 15px;
  
}

.question {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}

.question-info {
  margin: 10px;
  display: flex;
  flex-direction: column;
}   

.question-info > div > span:first-child {
  font-weight: bold;
  margin-right: 5px;
}
.question-info > div > span:nth-child(2) {
  color: #969696;
  font-size: 16px;
}
.question-info > div > p {
  color: #636262;
  font-size: 15px;
}
.question-info > div > div {
  margin: 15px 0px;
  font-weight: bold;
}
.question-icons {
  display: flex;
  align-items: center;
}
.question-icons > span {
  color: #969696;
  margin: 0 15px 0 5px;
  font-size: 18px !important;
}
.question-icon {
  font-size: 27px;
  color: #697784;
}
.question-icon:hover {
  color: #00b5d6;
  cursor: pointer;
}
.replying-to {
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  color: #969696;
  cursor: pointer;
}

.heart-button {
  background: transparent;
  border: none;
}

.new-question {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.login-form {
  margin-top: 20px;
  width: 400px;
  max-width: 590px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.text {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
}

.question-length {
  text-align: right;
  margin-top: 10px;
  font-size: 20px;
  color: #C3392A;
}

.question-nav {
  width: 368px;
  margin: 0px auto;
}

.question-nav-link {
  font-size: 18px;
}

.question-nav-link-active {
  color: green;
}

.my-selection {
  background-color: #E4F8F6;
  border: 1px solid #AFC8C5 !important;
}

.top-result {
  padding: 0 20px;
  margin: 20px 0px 10px 0px;  
  font-weight: bold;
  border: 1px solid #b4d2ce;
  width: 260px
}

.bottom-result {
  padding: 0 20px;
  margin: 10px 0px 10px 0px;
  font-weight: bold;
  border: 1px solid #b4d2ce;  
  width: 260px
}

.my-selection  .your-choice {
  margin-top: 15px;
  background-color: #ebc604;
  margin-left: -20px;
  color: white;
  padding: 2px 0px 2px 5px;
  width: 40%;
  font-size: 14px;
  margin-bottom: -16px;
}

.my-selection  .your-choice:before {
  content: "Your Choice";
}

.submit-button {
  margin-top: 5px;
  padding: 8px;
  border: #30a48a;
  background: #30a48a; 
  color: white; 
  width: 100%;
  cursor: pointer;
  font-size: 16px
}

.leaderboard > tr > td:first-child {
  width: 200px
}

.leaderboard > tr > td:nth-child(3) {
  padding-left: 60px;
  text-align: center
}

.leaderboard td {
  font-weight: bold;
  font-size: 14px;  
  padding: 0px 0px 20px 0px
}